<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="~{/layouts/header :: header}"></th:block>
<!-- **************** MAIN CONTENT START **************** -->

<main>
    <section class="section_sub_content ">
        <div class="container ">

            <div class="">
                <!-- Title and offcanvas button -->
                <div class="card-header  px-0 pt-0 pb-3"> <!-- -->
                    <!-- Breadcrumb -->
                    <nav class="mb-3" aria-label="breadcrumb">

                        <ol class="breadcrumb breadcrumb-dots pt-0">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="/main">관리자모드</a></li>
                        </ol>

                    </nav>
                    <!-- Title -->
                    <h1 class="mb-3 h4">관리자모드</h1>
                </div>
            </div>



            <!-- Form START -->
            <div>
                <p><a href="/admin/members">회원관리</a></p>
                <p><a href="/admin/boards">게시판관리</a></p>

            </div>
            <!-- Form END -->




        </div>
    </section>
</main>

<!-- **************** MAIN CONTENT END **************** -->
<th:block th:replace="/layouts/footer :: footer"></th:block>
</html>

