<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="~{/layouts/header :: header}"></th:block>
<!-- **************** MAIN CONTENT START **************** -->

<main>
    <section class="section_sub_content">
        <div class="container ">
            <div class="">
                <div class="card-header  px-0 pt-0 pb-3">
                    <nav class="mb-3" aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-dots pt-0">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><span th:text="${board_name}"></span></li>
                        </ol>
                    </nav>
                    <!-- Title -->
                    <h1 class="mb-3 h4"><span th:text="${board_name}"></span></h1>
                </div>
            </div>

            <!-- Form START -->
            <th:block th:if="${post}">
            <form name="writeForm" method="post" th:action="@{/posts/{board_code}/{id}/edit(board_code=${board_code},id=${post.id})}" class="row g-4 needs-validation mt-3">

                <div class="col-md-6">
                    <label class="form-label heading-color">이름 *</label>
                    <input type="text" name="name" th:value="${post.name}" class="form-control form-control-lg" placeholder="" required=""  />
                    <div class="valid_name"> </div>
                    <div class="invalid_name"  th:if="${(valid_name != null)}" th:text="${valid_name}"> </div>
                </div>

                <div class="col-md-6">
                    <label class="form-label heading-color">비밀번호 *</label>
                    <input type="password" name="password" value="" class="form-control form-control-lg" id="floatingInput" placeholder="" required=""  />
                    <div class="valid_password"> </div>
                    <div class="invalid_password"  th:if="${(invalid_password != null)}" th:text="${invalid_password}"> </div>
                </div>

                <div class="col-12">
                    <label class="form-label heading-color">제목 *</label>
                    <input type="text" name="title" th:value="${post.title}" class="form-control form-control-lg" placeholder="" required="" />
                    <div class="valid_title"> </div>
                    <div class="invalid_title"  th:if="${(invalid_title != null)}" th:text="${invalid_title}"> </div>
                </div>

                <div class="col-12">
                    <label class="form-label heading-color">내용 *</label>
                    <textarea name="content" class="form-control" placeholder="" id="floatingTextarea2" required="" th:text="${post.content}"></textarea>
                    <div class="valid_content"> </div>
                    <div class="invalid_content"  th:if="${(invalid_content != null)}" th:text="${invalid_content}"> </div>
                </div>

                <!-- Button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-lg btn-primary mb-0">확인</button>
                    <a href="#" onclick="history.back();"><button class="btn btn-lg btn-dark mb-0 ">취소</button></a>
                </div>

            </form>
            </th:block>
            <!-- Form END -->

        </div>
    </section>
</main>
<!-- **************** MAIN CONTENT END **************** -->
<th:block th:replace="~{/layouts/footer :: footer}"></th:block>
</html>
