<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="/layouts/header :: header"></th:block>


<!-- info -->
<div style="width:500px; margin:0 auto; text-align:Center;">
    <h2>404 error</h2>
    <p class="mb-4">404 not found</p>
    <!-- Button -->
    <a href="javascript:;" onclick="history.back();" class="btn btn-dark mb-0">Back to Homepage</a>
</div>

<th:block th:replace="/layouts/footer :: footer"></th:block>
</html>
